In [111]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [112]:
X_origin = pd.read_csv('ch11_Mall_Customers.csv',encoding='gb2312',index_col=0)

In [113]:
X = X_origin.drop(['性别'],axis=1)

In [114]:
#先对数据进行标准化再pac进行降维
from sklearn.preprocessing import scale
X_scaled = scale(X)

from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(X_scaled)
X_pca = pca.transform(X_scaled)

In [115]:
# 使用kmeans进行聚类
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4,random_state=0)
kmeans.fit(X_pca)
y_pred = kmeans.predict(X_pca)
X_origin['pac聚类结果'] = y_pred

/home/codespace/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [116]:
X_origin.head(15)

        性别  年龄  年收入(万元)  消费评分(1-100)  pac聚类结果
ID
1     Male  19       15           39        1
2     Male  21       15           81        3
3   Female  20       16            6        1
4   Female  23       16           77        3
5   Female  31       17           40        1
6   Female  22       17           76        3
7   Female  35       18            6        1
8   Female  23       18           94        3
9     Male  64       19            3        1
10  Female  30       19           72        3
11    Male  67       19           14        1
12  Female  35       19           99        3
13  Female  58       20           15        1
14  Female  24       20           77        3
15    Male  37       20           13        1

In [117]:
print('pac聚类结果按年龄统计均值')
g_Age=X_origin['年龄'].groupby(X_origin['pac聚类结果'])
print(g_Age.mean().sort_values())
print('pac聚类结果按年收入统计均值')
g_Income=X_origin['年收入(万元)'].groupby(X_origin['pac聚类结果'])
print(g_Income.mean().sort_values())
print('pac聚类结果按消费评分统计均值')
g_Rate=X_origin['消费评分(1-100)'].groupby(X_origin['pac聚类结果'])
print(g_Rate.mean().sort_values())

pac聚类结果按年龄统计均值
pac聚类结果
3    25.272727
0    32.692308
2    41.647059
1    43.076190
Name: 年龄, dtype: float64
pac聚类结果按年收入统计均值
pac聚类结果
3    25.727273
1    49.085714
0    86.538462
2    88.735294
Name: 年收入(万元), dtype: float64
pac聚类结果按消费评分统计均值
pac聚类结果
2    16.764706
1    43.057143
3    79.363636
0    82.128205
Name: 消费评分(1-100), dtype: float64

In [118]:
# 不经scale以及pca降维
data = X_origin.drop(['pac聚类结果','性别'],axis=1)
kmeans.fit(data)
y_pred = kmeans.predict(data)
X_origin['原始数据聚类结果'] = y_pred

/home/codespace/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [119]:
X_origin.head(15)

        性别  年龄  年收入(万元)  消费评分(1-100)  pac聚类结果  原始数据聚类结果
ID
1     Male  19       15           39        1         3
2     Male  21       15           81        3         3
3   Female  20       16            6        1         0
4   Female  23       16           77        3         3
5   Female  31       17           40        1         0
6   Female  22       17           76        3         3
7   Female  35       18            6        1         0
8   Female  23       18           94        3         3
9     Male  64       19            3        1         0
10  Female  30       19           72        3         3
11    Male  67       19           14        1         0
12  Female  35       19           99        3         3
13  Female  58       20           15        1         0
14  Female  24       20           77        3         3
15    Male  37       20           13        1         0

In [120]:
print('原始数据聚类结果按年龄统计均值')
g_Age=X_origin['年龄'].groupby(X_origin['原始数据聚类结果'])
print(g_Age.mean().sort_values())
print('原始数据聚类结果按年收入统计均值')
g_Income=X_origin['年收入(万元)'].groupby(X_origin['原始数据聚类结果'])
print(g_Income.mean().sort_values())
print('原始数据聚类结果按消费评分统计均值')
g_Rate=X_origin['消费评分(1-100)'].groupby(X_origin['原始数据聚类结果'])
print(g_Rate.mean().sort_values())

原始数据聚类结果按年龄统计均值
原始数据聚类结果
3    24.821429
2    32.692308
1    40.394737
0    44.894737
Name: 年龄, dtype: float64
原始数据聚类结果按年收入统计均值
原始数据聚类结果
3    28.714286
0    48.705263
2    86.538462
1    87.000000
Name: 年收入(万元), dtype: float64
原始数据聚类结果按消费评分统计均值
原始数据聚类结果
1    18.631579
0    42.631579
3    74.250000
2    82.128205
Name: 消费评分(1-100), dtype: float64

In [121]:
data2 = X_origin.drop(['性别','pac聚类结果','原始数据聚类结果'],axis=1)

In [122]:
# 原始数据
# 对前160个样本进行聚类然后对后面的样本进行预测
kmeans.fit(data2[:160])
y_pred = kmeans.predict(data2[160:])
true_label = X_origin['原始数据聚类结果'][160:]
from sklearn.metrics import accuracy_score
print('准确率：',accuracy_score(true_label,y_pred))

准确率： 0.5

/home/codespace/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)